body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
span{
    color: blue;
}
h1{
    font-size: 30px;
}
p{
    color: gray;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    float: left;
    margin: 2%;
    padding: 2%;
}
section{
    height: 500px;
    padding: 60px;
}
.half-width img{
    width: 100%;
    border-radius: 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(60deg, blue, violet);
    color: white;
    padding: 10px;
    border-radius: 10px;    
}